
@{
    ViewBag.Title = "О портале";
    ViewBag.Message = "Портал успеваемости";
}

<div>
    
    <p>
        Здесь вы найдете табель успеваемости студентов по установленному курсу. И сможете выбрать пятерку студентов с лучшей и худшей успеваемостью.
        А также посмотреть сумму баллов студентов курса.
    </p>
    <p> Функционал портала позволит вам также изменять состав "группы" путем добавления/удаления студента.</p>
    <p>Список студентов сохраняется в базе данных.</p>
</div>


