
@{
    ViewBag.Title = "Главная";
    ViewBag.Message = "Портал успеваемости";
}

<div>
    <h2>Приветствуем вас на портале "Студенты и оценки".</h2>
    <p>Для работы с порталом выберете интересующий вас раздел в Меню сайта. </p>
</div>


