h1{
    margin:0;
    padding: 2px 0;
    font-size:30px;
    font-weight:900;
}
body {
    font-family: "Trebuchet MS", Verdana, Helvetica, sans-serif;
    padding: 20px;
    font-size: 15px;
}

button{
    margin-top: 15px;
    padding: 5px;
    width: 300px;
}